{% extends 'navbar.html' %}
{% load static %}
{% load allauth %}

{% block title %}
Sign Up
{% endblock title %}

{% block content %}
<body>
    <!--================password change area=================-->
    <section class="login_box_area section_gap">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 order-sm-first">
                    <div class="login_form_inner">
                        <h2>Change Password </h2>
                        {% if form.errors %}
                        <p>Please Fill-up Correct Detail's</p>
                        {% endif %}

                         {% if user.is_authenticated %}
                                    <a href="{% url 'account_logout' %}" class="nav-link">Logout</a>
                                {% else %}
                                    <a href="{% url 'account_login' %}" class="nav-link">Login</a>
                                {% endif %}

                        <form class="row login_form" method="POST" autocomplete="off" action="{% url 'account_reauthenticate' %}">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="col-md-12 form-group">
                                {{ field.label_tag }}
                                {{ field }}
                                {% for error in field.errors %}
                                <small style="color: red;">{{ error }}</small>
                                {% endfor %}
                            </div>
                            {% endfor %}

                            <div class="col-md-12 form-group">
                                <button class="primary-btn">Change Password</button>
                                <br>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End password Area =================-->
</body>
{% endblock content %}