{% extends 'navbar.html' %}
{% load static %}

{% block title %}
Reset Password
{% endblock title %}

{% block content %}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Reset Password</h1>
                <nav class="d-flex align-items-center">
                    <a href="{% url 'index' %}">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="{% url 'account_reset_password' %}">Reset Password</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Reset Password Box Area =================-->
<section class="login_box_area section_gap">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-8  order-sm-first">
                <div class="login_form_inner">
                    <h3>Reset Password</h3>
                    <div class="row">
                    </div>
                    <form class="row login_form" action="{% url 'account_reset_password' %}" method="POST" autocomplete="off">
                        {% csrf_token %}
                        <div class="col-md-12 form-group">
                            <input required type="email" class="form-control" id="exampleEmail" name="email"
                                placeholder="Email">
                        </div>

                        <div class="col-md-12 form-group">
                            <button class="primary-btn" href="{% url 'account_reset_password' %}">Reset Password</button>
                        </div>

                        <div class="form-row">
                            {% for field in password_reset_form %}
                            <div class="col-md-6">
                                <p>
                                    {% for error in field.errors %}
                                    <small style="color: red;">{{error}}</small>
                                    {% endfor %}
                                </p>
                            </div>
                            {% endfor %}
                        </div>

                        <div class="col-md-12 form-group">
                            <p>Remembered your password?</p>
                            <a style="color:white" class="primary-btn" href="{% url 'account_login' %}">Log in</a>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Reset Password Box Area =================-->
{% endblock content %}
