{% extends 'navbar.html' %}
{% load static %}
{% load allauth %}
{% load i18n %}

{% block title %}
    Reset Password
{% endblock title %}

{% block content %}
<section class="verification_area section_gap d-flex align-items-center justify-content-center"
    style="min-height: 80vh; padding-top: 180px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 order-sm-first">
                <div class="login_form_inner text-center">
                    <h3 class="mb-3">{% trans "Password Reset Successful" %}</h3>
                    <p>
                        {% trans "We have sent you an email with instructions to reset your password." %}
                        {% trans "If you do not see it in your inbox, please check your spam folder." %}
                        {% trans "If you still haven't received it after a few minutes, feel free to contact us." %}
                    </p>
                    <div class="mt-4">
                        <a href="{% url 'account_login' %}" class="btn btn-primary">
                            {% trans "Back to Login" %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
