{% extends 'navbar.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    Verification Sent
{% endblock title %}

{% block content %}
<section class="verification-area section-gap d-flex align-items-center justify-content-center"
    style="min-height: 80vh; padding-top: 180px; background-color: #f9f9f9;">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <div class="verification-message p-5 shadow rounded bg-white">
                    <h3 class="mb-4 text-primary">{% trans "Verify Your Email Address" %}</h3>
                    <p class="message-description text-muted mb-3">
                        {% trans "We have sent an email to you for verification. Please follow the link provided in the email to finalize the signup process." %}
                    </p>
                    <p class="additional-info text-muted">
                        {% trans "If you do not see the email in your main inbox, please check your spam folder." %}
                        <br>
                        {% trans "If you still haven't received the email within a few minutes, feel free to contact us." %}
                    </p>
                    <div class="cta-buttons mt-4">
                        <a href="{% url 'account_email' %}" class="btn btn-lg btn-secondary px-3 py-2">
                            {% trans "Resend Verification Email" %}
                        </a>
                    </div>
                </div>
                <br>
                <br>
                <br>
            </div>
    
        </div>
    </div>
    
</section>
{% endblock content %}
