{% extends "navbar.html" %}
{% load i18n %}
{% load allauth %}
{% block content %}
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1 class="text-center">Add Address</h1>
                    <nav class="d-flex align-items-center text-white">
                        <a href="{% url 'index' %}" class="text-decoration-none text-white">Home
                        <span class="lnr lnr-arrow-right mx-1"></span>
                            <a href="{% url 'address_list_view' %}"> Address List </a>
                            <span class="lnr lnr-arrow-right mx-1"></span>
                            <a href="{% url 'add_address_view'%}">Add New Address</a>
                    </a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
<section class="login_box_area section_gap" style="padding-top: 190px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h2 class="mb-4 text-center" style="font-weight: 600;">{% trans "Add New Address" %}</h2>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert
                                    {% if message.tags == 'error' %}
                                    alert-danger
                                        {% else %}
                                    alert-success
                                    {% endif %}
                                ">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label class="form-label font-weight-bold">{% trans "Name" %}</label>
                                <input class="form-control" type="text" name="name" placeholder="{% trans "Enter Your Full Name" %}" required>
                                <div class="text-danger"> {{ form.name.errors }}</div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label font-weight-bold">{% trans "Mobile" %}</label>
                                <input class="form-control" type="number" placeholder="{% trans "Enter Your Mobile Number" %}" name="mobile" required>
                                <div class="text-danger"> {{ form.mobile.errors }}</div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label font-weight-bold">{% trans "Address Type" %}</label>
                                <select class="form-select" name="address_type">
                                    <option value="home">{% trans "Home" %}</option>
                                    <option value="work">{% trans "Work" %}</option>
                                    <option value="other">{% trans "Other" %}</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label font-weight-bold">{% trans "Country" %}</label>
                                <input class="form-control" type="text" name="country" placeholder="{% trans "Enter your Country Name" %}" required>
                                <div class="text-danger"> {{ form.country.errors }}</div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label font-weight-bold">{% trans "State" %}</label>
                                <input class="form-control" type="text" name="state" placeholder="{% trans "Enter Your State Name" %}" required>
                                <div class="text-danger"> {{ form.state.errors }}</div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label font-weight-bold">{% trans "City" %}</label>
                                <input class="form-control" type="text" name="city" placeholder="{% trans "Enter Your City Name" %}" required>
                                <div class="text-danger"> {{ form.city.errors }}</div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label font-weight-bold">{% trans "Address" %}</label>
                                <input class="form-control" type="text" name="address" placeholder="{% trans "Enter Your Address Area" %}" required>
                                <div class="text-danger"> {{ form.address.errors }}</div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label font-weight-bold">{% trans "Pincode" %}</label>
                                <input class="form-control" type="text" name="pincode" placeholder="{% trans "Enter Pincode Number" %}" required>
                                <div class="text-danger"> {{ form.pincode.errors }}</div>
                            </div>
                            
                            <!-- Hidden fields for handling navigation if needed -->
                            <input type="hidden" name="previous_url" value="{{ previous_url }}">
                            <input type="hidden" name="next_url" value="{{ next_url }}">
                            {% if request.GET.product_id %}
                            <input type="hidden" name="product_id" value="{{ request.GET.product_id }}">
                            <input type="hidden" name="go_to_checkout" value="1">
                            {% endif %}
                            
                            <div class="d-grid gap-2 d-flex justify-content-between">
                                {% if request.GET.product_id %}
                                <a href="{% url 'check_user_address' pk=request.GET.product_id %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
                                <button type="submit" class="btn btn-primary">{% trans "Add & Proceed to Checkout" %}</button>
                                {% else %}
                                <a href="{% url 'address_list_view' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
                                <button type="submit" class="btn btn-primary">{% trans "Add New Address" %}</button>
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
