{% extends 'navbar.html' %}
{% load static %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans 'Address-List' %}
{% endblock head_title %}
{% block content %}
<body xmlns="http://www.w3.org/1999/html">
<section class="login_box_area section_gap" style="padding-top: 190px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="Pg+ADy _9wC7Dg" style="box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); padding: 30px; border-radius: 10px;">
                    <h3 class="E5TaeR" style="font-weight: 800; font-size: 20px;">{% trans "Manage Addresses" %}</h3>
                    <div class="g8S8Av mb-4">
                        <a style="border-radius: 10px;" class="btn btn-primary" href="{% url 'add_address_view' %}">+ ADD A NEW ADDRESS</a>
                    </div>
                        {% for address in addresses %}
                            <div class="address-item col-md-12 mb-12" style="border: 2px solid #ddd; padding: 20px; border-radius: 10px;">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <label class="gaVsws"><span style="border: 2px solid lightgrey;  background-color:lightgrey; border-radius: 3px;" >{{ address.address_type }}</span></label>
                                    <div class="d-flex justify-content-between align-items-center">
                                         <a class="btn btn-secondary btn-sm" href="{% url 'update_address_view' address.id %}">Edit</a>
                                        <br>
                                        <form method="post" action = "{% url 'delete_address_view' address.id %}"  style="display:inline;"
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                        </form>
                                    </div>
                                </div>
                                <p class="Tlp8CN">
                                    <label><span>{{ address.name }}</span></label>
                                    <label><span>  {{ address.mobile }}</span></label>
                                </p>
                                    <label><span class="Tlp8CN _9gyQif">{{ address.country }}, </span></label>
                                    <label><span class="Tlp8CN _9gyQif">{{ address.city }}, </span></label>
                                        <label><span class="Tlp8CN _9gyQif">{{ address.state }}, </span></label>
                                      <label><span class="Tlp8CN _9gyQif">{{ address.Address }}, </span></label>
                                    <label><span>- {{ address.pincode }}</span></label>
                            </div>
                        {% empty %}
                            <p>No addresses found. <a href="{% url 'add_address_view' %}">Add one here</a>.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
{% endblock content %} 