{% extends "navbar.html" %}
{% load i18n %}
{% load allauth %}
{% block content %}
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1 class="text-center">Edit Address</h1>
                    <nav class="d-flex align-items-center text-white">
                        <a href="{% url 'index' %}" class="text-decoration-none text-white">Home
                        <span class="lnr lnr-arrow-right mx-1"></span>
                            <a href="{% url 'address_list_view' %}"> Address List </a>
                            <span class="lnr lnr-arrow-right mx-1"></span>
                            <a href="{% url 'update_address_view' address.pk%}">Edit Address</a>
                    </a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
<section class="login_box_area section_gap" style="padding-top: 190px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h2 class="mb-4 text-center" style="font-weight: 600;">{% trans "Edit Address" %}</h2>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert
                                    {% if message.tags == 'error' %}
                                    alert-danger
                                        {% else %}
                                    alert-success
                                    {% endif %}
                                ">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label class="form-label font-weight-bold">Name</label>
                                <input class="form-control" type="text" name="name" value="{{ form.name.value }}" required>
                                <div class="text-danger"> {{ form.name.errors }}</div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label font-weight-bold">Mobile</label>
                                <input class="form-control" type="number" name="mobile" value="{{ form.mobile.value }}" required>
                                <div class="text-danger"> {{ form.mobile.errors }}</div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label font-weight-bold">Address Type</label>
                                <select class="form-select" name="address_type">
                                    <option value="{{ form.address_type.value }}">{{ form.address_type.value }}</option>
                                    <option value="home">{% trans "Home" %}</option>
                                    <option value="work">{% trans "Work" %}</option>
                                    <option value="other">{% trans "Other" %}</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label font-weight-bold">Country</label>
                                <input class="form-control" type="text" name="country" value="{{ form.country.value }}" required>
                                <div class="text-danger"> {{ form.country.errors }}</div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label font-weight-bold">State</label>
                                <input class="form-control" type="text" name="state" value="{{ form.state.value }}" required>
                                <div class="text-danger"> {{ form.state.errors }}</div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label font-weight-bold">City</label>
                                <input class="form-control" type="text" name="city" value="{{ form.city.value }}" required>
                                <div class="text-danger"> {{ form.city.errors }}</div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label font-weight-bold">Address</label>
                                <input class="form-control" type="text" name="address" value="{{ form.address.value }}" required>
                                <div class="text-danger"> {{ form.address.errors }}</div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label font-weight-bold">Pincode</label>
                                <input class="form-control" type="text" name="pincode" value="{{ form.pincode.value }}" required>
                                <div class="text-danger"> {{ form.pincode.errors }}</div>
                            </div>
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                                <a href="{% url 'address_list_view' %}" class="btn btn-secondary">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
