{% extends 'navbar.html' %}
{% load static %}
{% load i18n %}
{% load allauth account %}
{% block title %}
    Profile
{% endblock title %}
{% block content %}

    <section class="profile_box_area section_gap mt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="card shadow-lg border-0 rounded p-4">
                    <h1  class="text-secondary text-center">User Profile </h1>
                        <div class="text-center mb-4">
                            {% for i in user_list %}
                                {% if i.picture %}
                                    <img src="{{ i.picture.url }}" alt="Profile Picture" class="rounded-circle mb-3" style="width: 150px; height: 150px; object-fit: cover;">
                                {% else %}
                                    <img src="{% static 'img/user_icon.png' %}" alt="Default Profile Picture" class="rounded-circle mb-3" style="width: 150px; height: 150px; object-fit: cover;">
                                {% endif %}
                            {% endfor %}
                        </div>

                        <div class="table-responsive">
                            <table class="table table-borderless">
                                {% for user in user_list %}
                                <tbody>
                                    <tr>
                                        <th class="text-secondary">First Name</th>
                                        <td>{{ user.first_name }}</td>

                                    </tr>
                                    <tr>
                                        <th class="text-secondary">Last Name</th>
                                        <td>{{ user.last_name }}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-secondary">Email</th>
                                        <td>{{ user.email }}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-secondary">Username</th>
                                        <td>{{ user.username }}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-secondary">Date of Birth</th>
                                        <td>{{ user.birth_date|date:"F d, Y" }}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-secondary">Mobile Number</th>
                                        <td>{{ user.mobile }}</td>
                                    </tr>
                                    <tr>
                                        <th class="text-secondary">Gender</th>
                                        <td>{{ user.gender|title }}</td>
                                    </tr>
                                </tbody>
                                {% endfor %}
                            </table>
                        </div>

                        <div class="text-center mt-4">
                            <a href="{% url 'update_profile' user.id%}" class="btn btn-primary">Edit Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
